body {
    font-family: "Calibri", serif;
    margin: 0;
    padding: 0;
}

button {
    transition: scale 0.5s ease;
    border: none;
    font-family: "Calibri", serif;
    cursor: pointer;
    background: transparent;
    color: black;
}


#header {
    position: relative;
    display: flex;
    justify-content: center;
    background: pink;
    padding: 0.5em;
    color: black;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

#topBar {
    display: flex;
    position: sticky;
    top: 0;
    background: #ffdce3;
    padding: 0.4em 0.5em 0.7em;
    gap: 1em;
    z-index: 2;
}

#homeBtn, .topBtn {
    font-size: clamp(1.05em, 1.3em, 3vw);
    font-variant: all-small-caps;
    font-weight: bold;
    height: 1em;
}

.dropdown {
    margin-top: 0.7em;
    display: none;
    position: absolute;
    background: white;
    padding: 1em;
    flex-direction: column;
}

.dropdown button {
    font-size: clamp(14px, 16px, 2vw);
    text-align: left;
    white-space: nowrap;
    padding-bottom: 0.5em;
    transition: scale 0.3s ease;
}

.dropdown button:hover {
    scale: 1.03;
}

.up {
   display: none;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

/*HOMEPAGE IMAGES*/
#imageScroll {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    align-items: stretch;
}

#leftSide, #rightSide {
    display: flex;
    margin-right: 0.5em;
    align-items: center;
    z-index: 1;
}

#images, .browse {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    overflow: auto;
    padding: 2em;
    scrollbar-color: pink transparent;
}

#images button {
    background: transparent;
    padding-top: 1.55em;
    padding-bottom: 2em;
    outline: 6px solid pink;
    border: 10px solid #ffdce3;
    font-weight: bold;
    min-width: 350px;
}

#images button:hover {
    scale: 1.03;
}

.image {
    width: 280px;
    height: 280px;
    margin-top: 1.5em;
}

#images span {
    font-size: 25px;
    white-space: nowrap;
}

.browse {
    display: none;
}

.preview {
    background: transparent;
    outline: 6px solid pink;
    overflow: auto;
    height: 400px;
    min-width: 320px;
}

.previewTitle {
    position: sticky;
    top:0;
    padding: 1em 2em;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    background: pink;
    text-align: center;
}

.ingredientTitle {
    background: white;
    font-weight: bold;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.ingredients {
    min-height: 40vh;
    margin-bottom: 2em;
}

.previewInformation {
    box-shadow: 0 10px 10px 30px white;
    padding: 0.5em;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.toRecipeBtn {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: white;
    color: black;
    font-weight: bold;
    font-variant: all-small-caps;
    font-size: 20px;
}

.toRecipeBtn:hover {
    scale: 1.03;
}

#favs {
    padding: 1em;
    padding-bottom: 3.5em;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-top: 2em;
    background-image: url('images/hearts.jpg');
    background-size: 100% auto;

}

#favTitle {
    font-size: 35px;
    display: flex;
    align-content: center;
}

#favBtns {
    margin-top: 2.3em;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.fav {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0.8em 1em 0.5em;
    font-variant: all-small-caps;
    font-style: normal;
}

.fav .image {
    margin-top: 1em;
}

.favPreviews {
    display: none;
}



